# See `pipelines/bootstrap/aws_gh_actions_auth/README.md`
export GITHUB_TOKEN=
# See `pipelines/bootstrap/tailscale/README.md`
export TAILSCALE_OAUTH_CLIENT_ID=
export TAILSCALE_OAUTH_CLIENT_SECRET=
export AWS_REGION=
# See `pipelines/bootstrap/aws_billing_alerts/README.md`
export BILLING_ANOMALY_MONITOR_ARN=