# See `pipelines/bootstrap/enable_tg_github_actions/README.md`
export GITHUB_TOKEN=
# See `pipelines/bootstrap/tailscale/README.md`
export TAILSCALE_OAUTH_CLIENT_ID=
export TAILSCALE_OAUTH_CLIENT_SECRET=